@import "theme";

.dashboard-main-container{
  height: 100vh;

  .navigation-container{
    height: 100%;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    background-color: #011058;
    border-radius: 0 15px 15px 0;
    padding-top: 75px;

    .menu-item-container{
      width: 100%;
      cursor: pointer;
      padding: 25px 0;

      &:hover{
        border-left: 5px solid #6CC642;

      }

      &.active{
        background-color: rgba(108, 198, 66, .2);

        .menu-item-title {
          color: #6CC642;

        }

        .menu-item-image{
          img {
            &.regular {
              display: none;
            }

            &.active{
              display: block;

            }
          }
        }
      }

      .menu-item-image{
        width: 50px;
        margin: 0 auto 10px;
        cursor: pointer;

        img{
          width: 100%;

          &.active{
            display: none;

          }
        }
      }

      .menu-item-title{
        color: white;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        letter-spacing: 2px;


      }
    }
  }

  .dashboard-content-container{
    height: 100%;
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;

    .filters-container{
      height: 75px;
      border-bottom: 1px solid #011058;
      text-align: right;
      padding: 0 15px;
      line-height: 30px;
      width: 100%;

      .filter-selector{
        position: relative;
        display: inline-block;
        top: 20px;
        padding: 0 20px;
        border-right: 1px solid #011058;
        cursor: pointer;

        &:last-child{
          border-right: 0;
          padding-right: 0;

        }

        .icon{
          display: inline-block;
          width: 20px;
          vertical-align: middle;
          margin-right: 10px;
          position: relative;
          top: -3px;

          img{
            width: 100%;

          }
        }

        .value{
          display: inline-block;
          vertical-align: middle;
          font-family: "Open Sans", sans-serif;
          color: #011058;
          font-size: 16px;
          position: relative;
          margin-right: 10px;

        }

        .arrow-down{
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 8px solid #011058;
          position: relative;

        }

        .floating-window{
          width: 400px;
          position: absolute;
          background-color: white;
          right: 0;
          box-shadow: 0 0 5px  rgba(0, 0, 0, .2);
          padding: 15px 20px;
          z-index: 999;
          top: 52px;
          display: none;

          &.active{
            display: block;

          }

          &.short{
            width: 300px;

          }

          .full-container{
            display: block;
            width: 100%;
            text-align: left;

          }

          .left-container{
            display: inline-block;
            width: 180px;
            vertical-align: top;
            border-right: 1px solid #011058;

          }

          .right-container{
            display: inline-block;
            width: 175px;
            vertical-align: top;

          }

          .left-container, .right-container{
            .year-selector, .month-selector{
              width: 100%;
              margin-bottom: 20px;

              .title{
                width: 100%;
                text-align: center;
                font-family: "Open Sans", sans-serif;
                color: #011058;
                font-size: 14px;
                letter-spacing: 1px;
                margin-bottom: 5px;

              }

              .filters-select{
                display: block;
                float: none;
                width: 140px;
                margin: 0 auto;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;

              }
            }
          }
        }
      }
    }

    .graphs-container{
      width: 100%;
      padding: 15px;

      .general-stats-container{
        width: 49%;
        display: inline-block;
        .title{
          text-align: center;
          font-family: "Open Sans", sans-serif;
          color: #011058;
          font-size: 22px;
        }

        .value{
          text-align: center;
          font-family: "Open Sans", sans-serif;
          color: #011058;
          font-size: 42px;
          font-weight: bold;
        }
      }

      .card-graph-container {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 15px;
        margin-bottom: 30px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

        }

        .card-title{
          width: 100%;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          color: #011058;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: bold;

        }
      }
    }
  }
}